body {
    font-family: Arial, sans-serif;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

button {
    background-color: #4cd150;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #3c8d3f;
}

#setAllBtn {
    background-color: #2e69d8;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 60px;
}

subfolders {
    line-break: normal;
}

#setAllBtn:hover {
    background-color: #12439e;
}


#folderList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}